body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
  padding: 20px;
  background-color: #f8f9fa;
  height: 100vh;
}

.main-content {
  padding: 20px;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

/* Dark theme */
body.dark-theme {
  background-color: #343a40;
  color: #f8f9fa;
}

body.dark-theme .sidebar {
  background-color: #23272b;
}

body.dark-theme .navbar-light {
  background-color: #343a40;
}


/* resume part*/
.resume {
  font-family: 'Roboto', sans-serif;
}

.resume h2, .resume h3, .resume h4, .resume h5 {
  font-weight: 700;
}

.resume h4, .resume h5 {
  margin-bottom: 0;
}
